name: Build CounterApp

on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Python
      uses: actions/setup-python@v5.1.0
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller
    - name: Build executable
      run: |
        pyinstaller --onefile --icon=icon.ico Counter_Apps.py
    - name: Upload executable
      uses: actions/upload-artifact@v2
      with:
        name: CounterApp
        path: dist/Counter_Apps.exe
